@import "partials/variables";
@import "partials/common";

main.comic {
    background-color: white;
    .container {
        padding: 3em 0;
        position: relative;
        .comic-title {
            position: absolute;
            top: -330px;
            border: 1px solid white;
            width: 200px;
            overflow: hidden;
            img {
                width: 100%;
            }
            .blue-title {
                background-color: #00a8d9;
                text-transform: uppercase;
                position: absolute;
                color: white;

                &.book {
                    top: 0;
                    padding: 0.3em 0.5em;
                }

                &.gallery {
                    bottom: 0;
                    width: 100%;
                    padding: 0.3em 0;
                    text-align: center;
                }
            }
        }
        .comic-book-container {
            display: flex;
            width: 100%;

            .desc-container {
                width: 80%;
                // padding-top: 2em;
                margin-right: 2em;

                .book-title {
                    text-transform: uppercase;
                    color: #1c405d;
                    font-size: 1.4em;
                    padding: 1em 0;
                }

                .available-container {
                    width: 100%;
                    display: flex;
                    color: white;
                    font-size: 0.8em;

                    .left {
                        width: 70%;
                        display: flex;
                        justify-content: space-between;
                        background-color: #55ba58;
                        border-bottom: 1px solid #357739;
                        border-right: 1px solid #357739;
                        padding: 0.9em;

                        .span-price {
                            color: #aff892;
                        }

                        .span-available {
                            text-transform: uppercase;
                            color: #aff892;
                        }
                    }
                    .right {
                        width: 30%;
                        background-color: #55ba58;
                        border-bottom: 1px solid #357739;
                        padding: 0.9em;
                        display: flex;
                        justify-content: center;

                        .available-text {
                            display: flex;
                            align-items: center;

                            i {
                                padding-left: 0.5em;
                            }
                        }
                    }
                }

                .text-desc {
                    padding-top: 0.7em;
                    color: #555555;
                    line-height: 1.5em;
                }
            }
            .adv-container {
                span {
                    display: inline-block;
                    width: 100%;
                    text-transform: uppercase;
                    text-align: right;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .comic-info-container {
        width: 100%;
        background-color: #f6f6f6;

        .container-info {
            display: flex;
            padding-top: 3em;
            padding-bottom: 5em;

            .left-info {
                margin-right: 2em;
            }

            .right-info {
                margin-left: 2em;
            }

            .left-info,
            .right-info {
                width: 50%;

                .info-title {
                    padding-bottom: 1em;
                    font-size: 1.2em;
                    color: #1c405d;
                    border-bottom: 1px solid #e3e3e3;
                }

                .subinfo {
                    display: flex;
                    width: 100%;
                    font-size: 0.8em;
                    padding: 0.7em 0;
                    border-bottom: 1px solid #e3e3e3;

                    .info-subtitle {
                        width: 30%;
                        color: #1c405d;
                    }

                    .info-desc {
                        width: 70%;

                        a {
                            text-decoration: none;
                            color: #00a9d9;
                        }

                        .upper {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .digitals {
            text-transform: uppercase;
            width: 100%;
            border-top: 1px solid #e3e3e3;

            .digitals-container {
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                .digital-comics,
                .shop-dc,
                .coics-shop-locator,
                .subscription {
                    border-left: 1px solid #e3e3e3;
                    width: 25%;
                    padding: 1em 0.8em;
                    display: flex;
                    justify-content: space-between;
                    a {
                        text-decoration: none;
                        color: #727272;
                    }
                }

                .subscription {
                    border-right: 1px solid #e3e3e3;
                }
            }

            .digital-center {
                position: relative;
            }

            .digital-center .digital-comics {
                margin: 0;
                padding: 0;
                list-style: none;
                position: absolute;
                top: 0;
            }

            .digital-center .digital-comics,
            .digital-center a {
                height: 44px;
                display: block;
            }

            #img-digital-comics {
                width: 37px;
                height: 37px;
                background: url("../../img/cta-icons.png") 0 0;
            }

            #img-shop-dc {
                width: 37px;
                height: 37px;
                background: url("../../img/cta-icons.png") -112px 0;
            }

            #img-comics-shop-locator {
                width: 37px;
                height: 37px;
                background: url("../../img/cta-icons.png") -75px 0;
            }

            #img-subscription {
                width: 37px;
                height: 37px;
                background: url("../../img/cta-icons.png") -38px 0;
            }
        }
    }
}
