header {
    height: 100px;
    background-color: $headerBackground;
    width: 100%;

    .container {
        margin: 0 auto;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        img {
            height: 70px;
            margin: 1em;
        }

        ul {
            list-style: none;
            height: 100%;
            display: flex;
            justify-content: center;
            li {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                margin: 0 1em 0 1em;
                a {
                    text-decoration: none;
                    display: inline-block;
                    font-weight: 500;
                    font-size: 0.9em;
                    height: 100%;
                    line-height: 100px;
                    color: black;
                    &.blue,
                    &:hover {
                        color: $lightblue;
                        border-bottom: 0.2em solid $lightblue;
                    }
                    i {
                        color: $lightblue;
                        vertical-align: text-top;
                        padding-left: 0.5em;
                    }
                }
            }
        }
    }
}
